
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | General UI</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Tema/Tema1/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Tema/Tema1/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
        .color-palette {
            height: 35px;
            line-height: 35px;
            text-align: right;
            padding-right: .75rem;
        }

            .color-palette.disabled {
                text-align: center;
                padding-right: 0;
                display: block;
            }

        .color-palette-set {
            margin-bottom: 15px;
        }

        .color-palette span {
            display: none;
            font-size: 12px;
        }

        .color-palette:hover span {
            display: block;
        }

        .color-palette.disabled span {
            display: block;
            text-align: left;
            padding-left: .75rem;
        }

        .color-palette-box h4 {
            position: absolute;
            left: 1.25rem;
            margin-top: .75rem;
            color: rgba(255, 255, 255, 0.8);
            font-size: 12px;
            display: block;
            z-index: 7;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <br /><br />
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- COLOR PALETTE -->
                <div class="card card-default color-palette-box">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-tag"></i>
                            İstatistikler
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <h5></h5>
                        </div>
                        <!-- /.col-12 -->
                        <div class="row">
                            <div class="col-sm-4 col-md-2">
                                <h4 class="text-center">Kategori Sayısı</h4>

                                <div class="color-palette-set">
                                    <div class="bg-primary color-palette"></div>
                                    <div class="bg-primary disabled color-palette"><span>@ViewBag.d1</span></div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-md-2">
                                <h4 class="text-center">Yazılım Başlığı Sayısı</h4>

                                <div class="color-palette-set">
                                    <div class="bg-secondary color-palette"></div>
                                    <div class="bg-secondary disabled color-palette"><span>@ViewBag.d2</span></div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-md-3">
                                <h4 class="text-center">Yazar Adında 'a' Harfi Geçen Yazar Sayısı</h4>

                                <div class="color-palette-set">
                                    <div class="bg-info color-palette"></div>
                                    <div class="bg-info disabled color-palette"><span>@ViewBag.d3</span></div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-md-3">
                                <h4 class="text-center">En Fazla Başlığa Sahip Kategori Adı</h4>

                                <div class="color-palette-set">
                                    <div class="bg-success color-palette"></div>
                                    <div class="bg-success disabled color-palette"><span>@ViewBag.d4</span></div>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-4 col-md-2">
                                <h4 class="text-center bg-warning">Kategori Durum Farkı</h4>

                                <div class="color-palette-set">
                                    <div class="bg-warning color-palette"></div>
                                    <div class="bg-warning disabled color-palette"><span>@ViewBag.d5</span></div>
                                </div>
                            </div>
                            <!-- /.col -->
                            @*<div class="col-sm-4 col-md-2">
                                    <h4 class="text-center">Danger</h4>

                                    <div class="color-palette-set">
                                        <div class="bg-danger color-palette"><span>#dc3545</span></div>
                                        <div class="bg-danger disabled color-palette"><span>Disabled</span></div>
                                    </div>
                                </div>*@
                            <!-- /.col -->
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>



    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Tema/Tema1/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Tema/Tema1/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Tema/Tema1/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Tema/Tema1/dist/js/demo.js"></script>
</body>
</html>


