@model EntityLayer.Concreate.Category

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    @using (Html.BeginForm("GetCategoryAdd", "Category", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Kategori adı")
            @Html.TextBoxFor(x => x.CategoryName)
            @Html.ValidationMessageFor(x => x.CategoryName)
            <br /><br />
            @Html.Label("Kategori Açıklama")
            @Html.TextBoxFor(x => x.CategoryDescription)
            @Html.ValidationMessageFor(x => x.CategoryDescription)
            <br /><br />

            @Html.Label("Durum")
            @Html.CheckBoxFor(x=>x.CategoryStatus)
            <br /><br />

            <button>Kaydet</button>
            <br />
            @Html.ActionLink("Back to List", "GetCAtegoryList")
        </div>
    }
</div>


