@model EntityLayer.Concreate.Admin
@{
    ViewBag.Title = "AdminDüzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminDüzenle</h2>

<div class="container">
    @using (Html.BeginForm("AdminDüzenle", "Loginn", FormMethod.Post))
    {
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminID)
        @Html.HiddenFor(x => x.AdminSalt)
        

        @Html.Label("Admin Adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminUserName)
        <br /><br />
        @Html.Label("Değer")
        @Html.DropDownList("AdminRole", (List<SelectListItem>)ViewBag.vr, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminRole)
        <br /><br />
        @Html.Label("Admin Şifre")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPassword)
        <br /><br />
        <input type="submit" value="Kaydet" class="btn btn-default" />
        <br />
        @Html.ActionLink("Geri Dön", "Index")
    </div>
    }
</div>